attrs==25.1.0
certifi==2024.12.14
chardet==5.2.0
click==8.1.8
Flask==3.1.0
Flask-LogConfig==0.4.2
Flask-Negotiate==0.1.0
Flask-Script==2.0.6
idna==3.10
Jinja2==3.1.5
iniconfig==2.0.0
itsdangerous==2.2.0
jsonschema==4.23.0
logconfig==0.4.0
logutils==0.3.5
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==24.2
pluggy==1.5.0
pyflakes==3.2.0
pyrsistent==0.20.0
PyYAML==6.0.2
requests==2.32.3
setuptools==75.8.0
urllib3==2.3.0
Werkzeug==3.1.3
